/*
css        * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
  }
  
  body {
    background-color: rgb(31, 31, 31);
  }
  
  button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 4rem;
    width: 10rem;
    font-size: 1.5rem;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 5px black;
    background-color: white;
  } */


/* ask about giving buttons :active and color change.  */

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #8064A2 !important;
}
 
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

a :active {
  background-color: chartreuse;
}